[Unit]
Description=Python Bot for KUMA
StartLimitIntervalSec=1
After=network-online.target

[Service]
Type=simple
Restart=always
User=kuma
Group=kuma
Restart = on-failure
SyslogIdentifier = bot-kuma
RestartPreventExitStatus=99
TimeoutSec=20
RestartSec=5
WatchdogSec=600
ExecStart=/usr/local/bin/python3.12 /opt/kaspersky/kuma/correlator/<correlator ID>/scripts/kuma_telebot_v2.py
TimeoutStartSec=infinity

[Install]
WantedBy=default.target
