[Unit]
Description=Python Bot for KUMA
StartLimitIntervalSec=1
After=network-online.target

[Service]
Type=simple
Restart=always
User=kuma
Group=kuma
Restart = on-failure
SyslogIdentifier = bot-kuma
RestartPreventExitStatus=99
TimeoutSec=20
RestartSec=5
ExecStart=/usr/local/bin/python3.12 /opt/kaspersky/kuma/correlator/0b9200ae-d5a9-41ce-bf7b-c16814ed9524/scripts/tcp_bot.py
TimeoutStartSec=infinity

[Install]
WantedBy=default.target
